body{
    background-color: gray;
}
*{
    padding: 0;
}
.sombreroCuadrado{
    width: 100px;
    height: 80px;
    background-color: black;
    position: absolute;
    left: 250px;
    border-radius: 15px;
}
.cinta{
    background-color: darkred;
    width: 100%;
    height: 10px;
    position: relative;
    top: 60%;
}
.sombreroCircular{
    width: 150px;
    height: 16px;
    background-color: black;
    position: absolute;
    top: 80px;
    left: 225px;
    border-radius: 100%;
}
.cara{
    border-style:solid;
    border-radius: 80px;
    border-color: black;
    width: 135px;
    height:120px;
    position: absolute;
    left: 230px;
    top: 80px;
    background-color: darkgray;
}
.ojoIzq{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    position: absolute;
    background-color:ghostwhite;
    left: 50px;
    top: 32px;
}
.ojoDer{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    position: absolute;
    background-color:ghostwhite;
    left: 100px;
    top: 33px;
}
.iris{
    background-color: rgb(248, 6, 6);
    width: 5px;
    height: 8px;
    border-radius: 100%;
    position: relative;
    top: 40%;
    left: 50%;
}
.nariz{
    background-color: orangered;
    width: 50px;
    height: 20px;
    position: relative;
    top: 60px;
    left: 80px;
    transform: rotate(5deg);
}
.boca{
    width: 40px;
    height: 10px;
    background-color:black;
    position: relative;
    top: 70px;
    left: 50px;
    border-radius: 50px;
}
.panza{
    width: 180px;
    background-color: darkgray;
    height: 250px;
    border-radius: 100%;
    border-color: black;
    border-style: solid;
    position: absolute;
    top: 200px;
    left: 210px;
}
.boton{
    width: 10px;
    height: 10px;
    position: relative;
    left: 90px;
    top: 55px;
    border-style: solid;
    border-color: black;
    background-color: red;
    border-radius: 100%;
}
.boton2{
    width: 10px;
    height: 10px;
    position: relative;
    left: 90px;
    top: 90px;
    border-style: solid;
    border-color: black;
    background-color: red;
    border-radius: 100%;
}
.boton3{
    width: 10px;
    height: 10px;
    position: relative;
    left: 90px;
    top: 120px;
    border-style: solid;
    border-color: black;
    background-color: red;
    border-radius: 100%;
}
.brazoIzq{
    width: 10px;
    height: 100px;
    transform: rotate(20grad);
    position: relative;
    border-radius: 5px;
    border-style: solid;
    background-color: brown;
    position: absolute;
    top: 180px;
    left: 390px;
}
.brazoDer{
    width: 10px;
    height: 100px;
    transform: rotate(160grad);
    position: relative;
    border-radius: 5px;
    border-style: solid;
    background-color: brown;
    position: absolute;
    top: 180px;
    left: 200px;
}
.patas{
    width: 250px;
    background-color: darkgray;
    height: 250px;
    border-radius: 100%;
    border-color: black;
    border-style: solid;
    position: absolute;
    top: 400px;
    left: 180px;
}
.text{
    position: relative;
    top: 100px;
    text-align: center;
}